<nav>
  <div class="nav-wrapper red darken-4">
    <a href="/" class="brand-logo">nMESH</a>
    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="contact">Contact</a></li>        
    </ul>
    <ul class="side-nav" id="mobile-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </div>
</nav>